* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: black;
}

.timer-container {
    position: absolute;
    top: 10%;
    left: 30%
}

#timer {
    color: rgb(255, 121, 121);
    background-color: black;
    padding: 30px 60px;
    font-size: 90px;
    border: 10px solid rgb(255, 121, 121);
    width: 650px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.buttons>* {
    width: 85px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(255, 121, 121);
    font-weight: bold;
}

#lap-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    gap: 20px;
}

#clear-laps {
    font-size: 20px;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(255, 121, 121);
    font-weight: bold;
}

.lap-item {
    font-size: 30px;
    padding: 5px 0;
    text-align: center;
    color: rgb(255, 121, 121);
}

button {
    transition: all 0.2s ease-in-out;
}

button:hover,
#clear-laps:hover {
    transform: translate(0, -2px);
    background-color: rgb(192, 93, 93);
}